.row
  .col.s12.m12
    .col.s12.m12
      .card-panel
        %h5.header2
          %a{:href => "#", :style => "padding: 0px 16px;"}
            %i.material-icons> camera_front
            EDIT ITEM TENTANG
    = render 'form'