<nav>
      <div class="nav-wrapper">
            <a class="button-collapse" data-activates="slide-out" data-turbolinks="false" href="#" id="sidenav">
                  <i class="material-icons">menu</i>
            </a>
      </div>
</nav>