  <ul id="slide-out" class="side-nav fixed">
    <li>
      <div class="user-view">
        <div class="background" style="background-color: #42A5F5;">
          <a href="/" class="brand-logo">
            <%= image_tag("logo.png", height: '65', style:"margin-top: 0px;") %>
          </a>
        </div>
        <div style="height:33px;"></div>
      </div>
      <div class="divider"></div>
    </li>
    <!-- li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li -->
    <li  class="no-padding">
      <a href="#" style="padding: 0px 16px;">
        <i class="material-icons">dashboard</i>DASHBOARD</a>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header"><i class="material-icons left">subject</i>PROPOSAL
            <i class="material-icons right">arrow_drop_down</i>
          </a>
          <div class="collapsible-body">
            <ul>
              <li>
                <a href="#">DAFTAR PROPOSAL</a>
              </li>
              <li>
                <a href="#">SELEKSI PROPOSAL</a>
              </li>
              <li>
                <a href="#">DISPOSISI PROPOSAL</a>
              </li>
              <li>
                <a href="#">VERIFIKASI PROPOSAL</a>
              </li>
              <li>
                <a href="#">REKOMENDASI PROPOSAL</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>

    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">
            <i class="material-icons left">camera_front</i>FRONTEND
            <i class="material-icons right">arrow_drop_down</i>
          </a>
          <div class="collapsible-body">
            <ul>
              <li>
                <a href="#">HOMEPAGE</a>
              </li>
              <li>
                <a href="#">TENTANG</a>
              </li>
              <li>
                <a href="#">PERATURAN</a>
              </li>
              <li>
                <a href="#">LAPOR</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>

    <li class="no-padding">
      <ul class="collapsible collapsible-accordion active">
        <li>
          <a class="collapsible-header">
            <i class="material-icons left">verified_user</i>MASTER
            <i class="material-icons right">arrow_drop_down</i>
          </a>
          <div class="collapsible-body">
            <ul>
              <li>
                <a href="/admin/users">USER</a>
              </li>
              <li>
                <a href="/admin/roles">ROLE</a>
              </li>
              <li>
                <a href="/admin/dinas">DINAS</a>
              </li>
              <li>
                <a href="/admin/kategoris">KATEGORI</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  <!-- <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a> -->