<h5>
  DAFTAR
  <span class="red-text">BANSOS</span>
</h5>
<hr />
<div class="row">
    
  </div>
<div class="row">
  <div class="input-field col s6">
    <input class="validate" id="first_name" placeholder="Judul Bansos" type="text" />
    <label for="first_name"> Cari Berdasarkan Judul</label>
  </div>
<div class="input-field col s8">
  <select>
    <option disabled="" selected="" value=""> Pilih Berdasar Kategori</option>
    <option value="1"> Perencanaan Pembangunan</option>
    <option value="2"> Lingkungan Hidup</option>
    <option value="2"> Pemberdayaan Perempuan dan Perlindungan Anak</option>
    <option value="2"> Kesatuan Bangsa dan Politik dalam Negeri</option>
    <option value="2"> Penanaman Modal</option>
    <option value="2"> Pendidikan</option>
    <option value="2"> Kesehatan</option>
    <option value="2"> Pekerjaan Umum Bidang Jalan dan Jemabatan</option>
    <option value="2"> Perumahan dan Urusan Penataan Ruang</option>
    <option value="2"> Perhubungan</option>
    <option value="2"> Kependudukan dan Catatn Sipil</option>
    <option value="2"> Sosial, Keagamaan/Peribadatan dan Pendidikan Agama</option>
    <option value="2"> Kesejahteraan Sosial</option>
    <option value="2"> Ketenagakerjaan</option>
    <option value="2"> Koperasi dan Usaha Kecil Menengah</option>
    <option value="2"> Kepemudaan dan Olah Raga Non Profesional</option>
    <option value="2"> Kebudayaan dan Adat Istiadat, Pariwisata dan Kesenian</option>
    <option value="2"> Komunikasi dan Informatika</option>
    <option value="2"> Pertanian</option>
    <option value="2"> Otonomi Daerah dan Pemerintahan Umum</option>
    <option value="2"> Perusahaan Daerah dan Perekonomian</option>
    <option value="2"> Kearsipan</option>
  </select>
</div>
<div class="input-field col s4">
  <select>
    <option disabled="" selected="" value=""> Urut Berdasarkan</option>
    <option value="1"> Terbesar</option>
    <option value="2"> Terbaru</option>
  </select>
</div>
</div>
  <div class="row">
    <%= smart_listing_render(:hibah) %>
  </div>
</div>