
<div class="section no-pad-bot cover" id="index-banner" style="
    background: url(https://elshinta.com/upload/article/_5375306148.jpg) no-repeat 50% 0;
    background-size: 100%;
">
  <br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/>
  <br/><br/>
  <br/><br/>
  <br/><br/>
  <h1 class="header center white-text strong"></h1>
  <!-- <div class="row center white-text">
    <h5 class="header col s12 light"><span class="red" style="padding: 5px;">Mari wujudkan ide kreaif bersama dengan wujud yang terbuka</span></h5>
    <h6 class="header col s12 light"><span class="red" style="padding: 5px;">Demi kepentingan bersama</span></h6>
  </div>
  <div class="row center">
    <a class="btn-large waves-effect waves-light blue" href="/parts" id="download-button">LIHAT PROPOSAL HIBAH</a>
  </div> -->
  <br/>
</div>

<div class="section container">
  <div class="row">
  <h5>
    TAHAPAN 
    <span class="red-text">BANSOS</span>
  </h5>
  <ul class="tabs tab-demo z-depth-1">
    <li class="tab">
      <a href="#tab1" class="active"> Tahap 1 <i class="fa fa-arrow-right"></i></a>
    </li>
    <li class="tab">
      <a href="#tab2">
       Tahap 2
      <i class="fa fa-arrow-right"></i></a>
    </li>
    <li class="tab">
      <a href="#tab3"> Tahap 3
      <i class="fa fa-arrow-right"></i> </a>
    </li>
    <li class="tab">
      <a href="#tab4"> Tahap 4
      <i class="fa fa-arrow-right"></i></a>
    </li><li class="tab">
      <a href="#tab5"> Tahap 5
      <i class="fa fa-arrow-right"></i> </a>
    </li>
  </ul>
  
  <div class="col s12" id="tab1">
    <h5 class="header col s12 light">
       Daftar hibah bansos
    </h5>
    <p>Masyarakat menyerahkan kelengkapan dokumen proposal secara langsung ataupun 
      online kepada Pemerintah Kabupaten Purwakarta.</p>
  </div>
  
  <div class="col s12" id="tab2">
    <h5 class="header col s12 light">
       Hibah bansos disetujui
    </h5>
    <p>
      Seleksi Bansos oleh petugas dengan cara memeriksa proposal yang telah diserahkan.</p>
  </div>
  
  <div class="col s12" id="tab3"><h5 class="header col s12 light">
    Proses seleksi
  </h5>
    <p>
      Petugas yang bertanggungjawab melakukan verifikasi dan evaluasi proposal bansos yang telah diserahkan, kemudian disetujui.</p>
  </div>
  
  <div class="col s12" id="tab4"><h5 class="header col s12 light">
     Hibah bansos berjalan
  </h5><p>
    Hibah bansos berjalan sesuai dengan dana yang telah disetujui pihak dari kabupaten Purwakarta.</p>
  </div>
  <div class="col s12" id="tab5"><h5 class="header col s12 light">
     Mengirimkan laporan
  </h5>
    <p>
      Organisasi yang telah melaksanakan bansos mengirim data berupa laporan kegiatan bansos kepada pihak Kabupaten Purwakarta</p>
  </div>
</div>
</div>
<div class="section container">
  <div class="row right">
    <a class="btn waves-effect waves-light blue" href="/parts" id="download-button">TERBARU</a>
    <a class="btn waves-effect waves-light orange" href="/parts" id="download-button">TERBESAR</a>
    <hr />
  </div>
</div>
<div class="section container">
  <h5>
    DAFTAR
    <span class="red-text">BANSOS</span>
  </h5>
  <div class="row">
    <div class="col s12 m12">
      <p>
        Tapi tidak semua dapat tersalurkan. Sahate, semua ide kreatif diharapkan dapat diwujudkan dengan jalan keterbukaan via teknologi.
        Sehingga semua bisa dapat merealisasikan kesempatan yang sama secara adil tanpa penyelewengan.</p>
    </div>

    <div class="col s12 m12">
      
      <div class="row">
        <div class="col s6 m6">
          <div class="card">
            <div class="card-image">
              <img src="http://sahate.lebakkab.go.id/media/proposal_foto/c0d33d91982d9c006b0b777c485af4ee.jpg" />
              <span class="card-title black-text strong">Permohonan Bantuan Rumah Swadaya (BRSwa) Peningkatan Kualitas (PK) bagi Masyarakat Berpenghasilan Rendah (MBR)</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red">
                <i class="material-icons">add</i>
              </a>
            </div>
            <div class="card-content">
              <p>Permasalahan rumah tidak layak huni merupakan salah satu permasalahan sosial yang selalu lekat dalam kehidupan
              wilayah pedesaan maupun perkotaan.Rumah tidak layak huni dapat menjadi salah satu faktor utama yang menyebabkan rendahnya
              tingkat kesejahteraan masyarakat
              </p>
            </div>
          </div>
        </div>

        <div class="col s6 m6">
          <div class="card">
            <div class="card-image">
              <img src="http://sahate.lebakkab.go.id/media/proposal_foto/9049146956317d27d66f8c82e53ba02c.png" />
              <span class="card-title black-text strong">PERMOHONAN BANTUAN ALAT PERMAINAN EDUKATIF ( APE ) PAUD TAHUN 2018</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red">
                <i class="material-icons">add</i>
              </a>
            </div>
            <div class="card-content">
              <p>Undang - undang No 20 tahun 2003 tetang Sistem Pendidikan Nasional Pasal 1 angka 14 menyatakan bahwa PAUD adalah suatu upaya
              pembinaan yang ditujukan kepada anak sejak lahir sampai dengan usia 6 tahun yang di lakukan melalui rangsangan pendidikan
              untuk membantu pertumbuhan dan perkembangan jasmani dan rohani agar anak memliki kesiapan dalam memasuki pendidikan lebih
              lanjut.
              </p>
            </div>
          </div>
        </div></div>
<div class="row">
        <div class="col s6 m6">
          <div class="card">
            <div class="card-image">
              <img src="http://sahate.lebakkab.go.id/media/proposal_foto/fa6f6589263b0fa2063dfb8366ba8021.jpg" />
              <span class="card-title black-text strong">FORUM KOMJNIKASI PEKERJA SOSIAL MASYARAKAT (I-PSM) KAB. PURWAKARTA</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red">
                <i class="material-icons">add</i>
              </a>
            </div>
            <div class="card-content">
              <p>PENYANDANG DISABILITAS/PENYANDANG CACAT ADALAH SALAH SATU PENYANDANG MASALAH KESEJAHTERAAN SOSIAL (PMKS) DI KABUPATEN PURWAKARTA,
              YANG SEMENTARA INI KEBERADAANNYA BELUM TERSENTUH SECARA MERATA TERHADAP PENYANDANG MASALAH DIMAKSUD PADAHAL SECARA UMUM MEREKA
              ADALAH SALAH SATU FAKTOR MENINGKATNYA ANGKA KEMISKINAN DI KABUPATEN PURWAKARTA.
              </p>
            </div>
          </div>
        </div>
        <div class="col s6 m6">
          <div class="card">
            <div class="card-image">
              <img src="http://sahate.lebakkab.go.id/media/proposal_foto/2ecbbb0db357e18c3fb62845108b2e96.jpg" />
              <span class="card-title black-text strong">Komisi Penanggulangan AIDS DAERAH (KPAD)</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red">
                <i class="material-icons">add</i>
              </a>
            </div>
            <div class="card-content">
              <p>Acquired Immune Deficiency Syndrom (AIDS) yaitu sekumpulan gejala penyakit yang timbul karena turunnya kekebalan Tubuh yang
              di sebabkan adanya virus HIV.
               Menurut Data yang ada di dinas kesehatan kab. purwakarta dari tahun 2000 sampai tahun oktober 2017 telah ditemukan 244 kasus yang
              terdiri dari 135 HIV, 109 AIDS dan 97 di antaranya meninggal dunia karena AIDS.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%#= react_component("HelloWorld", { greeting: "Hello" }) %>