
.row
  %h5
    %span.red-text Peraturan Hibah Bansos
  .divider 
  %ul.collection
    - @peraturan.each.with_index do |value, index|
      %li.collection-item
        %div
          #{index+1}. #{value.nama}
          = link_to(raw('<i class="material-icons">system_update_alt</i>'), value.file_url, target: "_blank", class:"secondary-content") if value.file.present?
            
      
