<div class="row">
  <h5>
    TENTANG 
    <span class="red-text">SAHATE</span>
  </h5>
  <hr />
  <div class="col s12 m12">
    <p align="justify">Sahate, atau yang memiliki arti ‘Sistem Aplikasi Hibah Bansos Terintregasi’ 
      digagas oleh Pemerintah Kabupaten Purwakarta untuk memfasilitasi keterbukaan
    dalam perwujudan program bansos dan hibah melalui media online.</p>
    <p align="justify">
       Program Sahate bertujuan agar jalannya dana bantuan yang diturunkan Pemerintah 
       Kabupaten Purwakarta untuk membiayai berbagai proyek sosial yang diinginkan masyarakat 
       dapat dipertanggungjawabkan secara terbuka. Seluruh proses dalam Sahate dapat
      terlihat dan diawasi oleh seluruh lapisan masyarakat.</p>
      <p align="justify">
         Melalui Sahate, seluruh masyarakat dan organisasi di Kabupaten Purwakarta dapat:</p>
        <p align="justify"><ol align="justify">
          <li>Mengirimkan proposal terkait hibah bansos dan memonitor bagaimana status 
            proposal tersebut (apakah diterima, ditolak, sedang
          diverifikasi, dan sebagainya)</li>
          <li>Ikut berpartisipasi dalam memonitor jalannya hibah bansos yang sudah disetujui 
            oleh Pemerintah Kabupaten Purwakarta sehingga dapat
          turut memberikan masukan dan saran terkait jalannya hibah bansos tersebut.</li>
        </ol></p>

      <p align="justify">
         Ayo ajukan ide kreatif kalian tanpa rasa takut akan penyelewengan 
         dana yang diturunkan. Kita semua bersama dapat menjadi
        yang ahli dalam pembangunan Kabupaten Purwakarta.</p>
  </div>
</div>

<div class="row">
  <h5>
     APA YANG 
    <span class="red-text">SAHATE</span> WUJUDKAN
  </h5>
  <hr />
  <div class="col s12 m12">
    <p align="justify">BANSOS atau Bantuan Sosial, yaitu program bantuan dana diberikan secara selektif 
      oleh pemerintah untuk ide-ide kreatif yang diusulkan oleh seluruh masyarakat Kabupaten Purwakarta 
      khususnya, secara perseorangan atau kelompok. Bantuan Sosial, bersifat sementara,
    tidak terus-menerus, tidak mengikat dan tidak wajib.</p>
    <p align="justify">
       HIBAH, yaitu program bantuan dana berkelanjutan dan terikat yang diberikan oleh 
       pemerintah untuk setiap pengajuan proyek
      kreatif dari Lembaga Sosial Masyarakat (Non-Government Organitation atau NGO).</p>
  </div>
</div>

<div class="row">
  <h5>
     TAHAPAN 
    <span class="red-text">SAHATE</span>
  </h5>
  <hr />
  <div class="col s12 m12">
    <p align="justify">Setiap masyarakat atau organisasi di Kabupaten Purwakarta yang ingin mengajukan 
      proposal hibah bansos melalui Sabilulungan cukup mendaftarkan melalui aplikasi dan 
      mengirimkan kelengkapan dokumen secara langsung, setelah itu Pemerintah Kabupaten Purwakarta akan
      memverifikasi. Tahapan verifikasi selengkapnya sebagai berikut :</p>
      <p align="justify">
        <ol align="justify">
          <li>Masyarakat menyerahkan kelengkapan dokumen secara langsung kepada Pemerintah Kabupaten Purwakarta.</li>
            <li>TU Setda melakukan verifikasi kelengkapan proposal dan dokumen pendukung proposal tersebut kemudian melakukan entry data
            melalui website sahate.purwakartakab.go.id.</li>
            <li>Bupati memberikan disposisi untuk kepada TU Setda untuk dicatat dan disampaikan kepada Tim Pertimbangan.</li>
            <li>Tim pertimbangan mendistribusikan proposal kepada SKPD (Satuan Kerja Perangkat Daerah) terkait sesuai bidangnya.</li>
            <li>
              SKPD terkait melakukan evaluasi keabsahan permohonan belanja hibah dan bantuan sosial dibantu oleh Camat dan Lurah.</li>
              <li>
                 Tim Pertimbangan berdasarkan hasil pembahasan dengan SKPD Terkait, Camat dan Lurah, memberikan pertimbangan atas permohonan
                belanja hibah dan bantuan sosial.</li>
                <li>
                   TAPD (Tim Anggaran Pemerintah Daerah) memberikan pertimbangan atas rekomendasi sesuai prioritas dan kemampuan keuangan daerah,
                  yang dituangkan dalam DNC-PBH dan DNC PBBS.</li>

                <li>
                   Bupati menetapkan persetujuan DNC-PBH dan DNC-PBBS dituangkan dalam bentuk Lembar Persetujuan Walikota dan menjadi dasar
                  pencantuman alokasi belanja hibah dan bantuan sosial dalam rancangan KUA dan PPAS.</li>
          </ol>
      </p>
  </div>
</div>

<div class="rl-multi-step numbered">
  <ul class="rl-multi-step-list">
    <li class="rl-multi-step-item active current">
      <div class="rl-item-wrap">
        <p class="rl-item-title">TAHAP 1</p>
        <p class="rl-item-subtitle">PENDAFTARAN PROPOSAL HIBAH BANSOS</p>
      </div>
    </li>
    <li class="rl-multi-step-item  active current">
      <div class="rl-item-wrap"><p class="rl-item-title">
        TAHAP 2</p>
        <p class="rl-item-subtitle">PEMERIKSAAN KELENGKAPAN DOKUMEN OLEH TU</p>
      </div>
    </li>
    <li class="rl-multi-step-item active current">
      <div class="rl-item-wrap"><p class="rl-item-title">
        TAHAP 3</p>
        <p class="rl-item-subtitle">PEMERIKSAAN OLEH BUPATI</p>
      </div>
    </li>
    
  </ul>

  <ul class="rl-multi-step-list">
  <li class="rl-multi-step-item active current">
    <div class="rl-item-wrap"><p class="rl-item-title">
      TAHAP 4</p>
      <p class="rl-item-subtitle">KLASIFIKASI SESUAI SKPD OLEH TIM PERTIMBANGAN</p>
    </div>
  </li>
  <li class="rl-multi-step-item active current">
    <div class="rl-item-wrap"><p class="rl-item-title">
      TAHAP 5</p>
      <p class="rl-item-subtitle">REKOMENDASI DANA OLEH SKPD</p>
    </div>
  </li>
  <li class="rl-multi-step-item active current">
    <div class="rl-item-wrap">

        <p class="rl-item-title">TAHAP 6</p>
      <p class="rl-item-subtitle">VERIFIKASI PROPOSAL OLEH TIM PERTIMBANGAN</p>
    </div>
  </li>
  </ul>
  

  <ul class="rl-multi-step-list">
  <li class="rl-multi-step-item active current">
    <div class="rl-item-wrap"><p class="rl-item-title">
      TAHAP 7</p>
      <p class="rl-item-subtitle">VERIFIKASI PROPOSAL OLEH TAPD</p>
    </div>
  </li>
  
  
  <li class="rl-multi-step-item active current">
    <div class="rl-item-wrap"><p class="rl-item-title">
      TAHAP 8</p>
      <p class="rl-item-subtitle">PERSETUJUAN BUPATI</p>
    </div>
  </li>
  
  <li class="rl-multi-step-item active current">
    <div class="rl-item-wrap">

        <p class="rl-item-title">TAHAP 9</p>
      <p class="rl-item-subtitle">DANA TERSALURKAN</p>
    </div>
  </li><li class="rl-multi-step-item active current">
    <div class="rl-item-wrap"><p class="rl-item-title">
      TAHAP 10</p>
      <p class="rl-item-subtitle">PROYEK HIBAH BANSOS BERJALAN</p>
    </div>
  </li> 
  </ul>
  </div>