.block-header
  %h2.header2
    %a{:href => "#", :style => "padding: 0px 16px;"}
      %i.material-icons> library_books
      LIST HIBAH BANSOS
  = simple_form_for :hibah, url: admin_list_hibah_path(:format => 'xlsx'), :method => :get, :class => "form-horizontal", :role => "form"  do |f|
    .row
      .form-inputs
        .col.m12.s12
          .card-panel
            .row
              = f.input :msg_open, collection: [['Tahap seleksi', 0], ['Tahap disposisi', 1], ['Tahap distribusi', 2], ['Tahap Evaluasi', 3], ['Tahap Pertimbangan', 4], ['Tahap Penetapan', 5], ['Hibah Bansos Berjalan', 6], ['Hibah Bansos Ditolak', 7]], label: 'Pilih Status Hibah', autofocus: true, wrapper_html: { class: 's12 m6' }
            .row
              = f.input :start_date, as: :date, label: 'Dari Tanggal', autofocus: true, wrapper_html: { class: 's12 m3' }, input_html: {class: 'picker__input'}
              = f.input :final_date, as: :date, label: 'Sampai Dengan', autofocus: true, wrapper_html: { class: 's12 m3' }, input_html: {class: 'picker__input'}
          .right{:style => "padding:20px;"}
            %button.btn.cyan.waves-effect.waves-light.right{:type => "submit"}
              PRINT
              %i.material-icons.right print