.row.nested-fields
  .black-text.col.s12.m10
    = link_to_remove_association raw('                                                       |
      <i class="material-icons left">clear</i>'), f, class: 'waves-effect waves-light right' |
  .black-text.col.s10.m5
    = f.input :icon
  .black-text.col.s10.m5
    = f.input :judul
  .black-text.col.s12.m10
    = f.input :deskripsi
