.row
  .col.s12.m12
    .block-header
      %h2.header2
        %a{:href => "#", :style => "padding: 0px 16px;"}
          %i.material-icons> verified_user
          EDIT ROLE : #{@role.name}
.row.clearfix
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = render 'form', role: @role
