.block-header
  %h2.header2
    %a{:href => "#", :style => "padding: 0px 16px;"}
      %i.material-icons> verified_user
      HALAMAN INDEX ROLE USER
.row.clearfix
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    .card
      .header
        Tabel Data
        %span.red-text Role User
      .body
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12.responsive-table
            %table.bordered.highlight.responsive-table.table-bordered
              %thead
                %tr
                  %th ID
                  %th Role
                  %th
              %tbody
                - @roles.each do |role|
                  %tr
                    %td{:style => "width:5%;"}
                      = role.id
                    %td
                      = role.name
                    %td{:style => "width:10%;"}
                      - unless role.id == 1
                        = link_to raw('<i class="small material-icons">edit</i>'), edit_admin_role_url(role)
