@font-face {
    font-family: 'MotionPicture';
    src: asset-url('MotionPicture_PersonalUseOnly.ttf') format("truetype");
}

@font-face {
    font-family: 'BerlinSansFBDemi';
    src: asset-url('BerlinSansFBRegular.ttf') format("truetype");
}

@font-face {
    font-family: 'BerlinSansFBDemiBold';
    src: asset-url('BerlinSansFBDemiBold.ttf') format("truetype");
}

@font-face {
    font-family: 'Arcena';
    src: asset-url('ARCENA.ttf') format("truetype");
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.card {
    max-width: 500px;
    margin: auto;
}

.card-default {
    max-width: 100%;
}

.form-padding {
    padding-top: 50px;
}

//Footer
.footer-color {
    a {
        color: white;
    }
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    // height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 10%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.font-motion-picture {
    font-family: MotionPicture, verdana, arial, helvetica, sans-serif;
    text-shadow: white 0px 0px 10px;
}

.font-BerlinSansFBDemi {
    font-family: BerlinSansFBDemi, verdana, arial, helvetica, sans-serif;
    text-shadow: white 0px 0px 10px;
}

.font-BerlinSansFBDemiBold {
    font-family: BerlinSansFBDemiBold, verdana, arial, helvetica, sans-serif;
    text-shadow: white 0px 0px 10px;
}

.font-Arcena {
    font-family: Arcena, verdana, arial, helvetica, sans-serif;
    text-shadow: white 0px 0px 10px;
    font-size: 250%;
}

.sihibo {
    margin-left: -15px;
    background-color: black;
    text-shadow: 0px 0px 10px black;
    color: white;
}

.sihibo2 {
    margin-left: -3px;
    background-color: black;
    text-shadow: 0px 0px 10px black;
    color: white;
}