.block-header
  %h2.header2
    %a{:href => "#", :style => "padding: 0px 16px;"}
      %i.material-icons> subject
      HALAMAN INDEX PROPOSAL HIBAH 
.row.clearfix
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    .card
      .header
        Tabel Data
        %span.red-text Hibah
      .body
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            = smart_listing_controls_for(:hibah) do
              %ul.collapsible.search-box
                %li
                  .collapsible-header.search-header
                    %i.material-icons> search
                    Pencarian
                  .collapsible-body.search-body
                    .row
                      .input-field.col.s6
                        %input#organisasi_bansos.validate{:placeholder => "Organisasi Bansos", :type => "text", name: 'organisasi_bansos'}/
                        %label{:for => "organisasi_bansos", class: "active"} Cari Berdasarkan Organisasi
                      .input-field.col.s6
                        %input#judul_bansos.validate{:placeholder => "Judul Bansos", :type => "text", name: 'judul_bansos'}/
                        %label{:for => "judul_bansos", class: "active"} Cari Berdasarkan Judul
                      .input-field.col.s8
                        %select{name: 'status_bansos'}
                          %option{:disabled => "disabled", :selected => "selected", :value => ""} Pilih Berdasar Kategori
                          %option{:value => 0} Tahap seleksi
                          %option{:value => 1} Tahap disposisi
                          %option{:value => 2} Tahap distribusi
                          %option{:value => 3} Tahap Evaluasi
                          %option{:value => 4} Tahap Pertimbangan
                          %option{:value => 5} Tahap Penetapan
                          %option{:value => 6} Hibah Bansos Berjalan
                          %option{:value => 7} Hibah Bansos Ditolak
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12.responsive-table
              = smart_listing_render(:hibah)
