.block-header
  %h2.header2
    %a{:href => "#", :style => "padding: 0px 16px;"}
      %i.material-icons> subject
      = @judul
.row.clearfix
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    .card
      .header
        Tabel Data
        %span.red-text Hibah
      .body
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            = smart_listing_controls_for(:hibah) do
              %ul.collapsible.search-box
                %li
                  .collapsible-header.search-header
                    %i.material-icons> search
                    Pencarian
                  .collapsible-body.search-body
                    .row
                      .input-field.col.s6
                        %input#organisasi_bansos.validate{:placeholder => "Organisasi Bansos", :type => "text", name: 'organisasi_bansos'}/
                        %label{:for => "organisasi_bansos", class: "active"} Cari Berdasarkan Organisasi
                      .input-field.col.s6
                        %input#judul_bansos.validate{:placeholder => "Judul Bansos", :type => "text", name: 'judul_bansos'}/
                        %label{:for => "judul_bansos", class: "active"} Cari Berdasarkan Judul
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12.responsive-table
              = smart_listing_render(:hibah)
