%footer.page-footer
  .footer-copyright
    .container
      © #{Time.current.year} Sahate Kabupaten Purwakarta
      .grey-text.text-lighten-4.right.footer-color
        %a{:href => ""}
          %i.fa.fa-twitter
          Twitter
        %a{:href => ""}
          %i.fa.fa-facebook
          Facebook
        %a{:href => ""}
          %i.fa.fa-instagram{:style => "vertical-align: middle;"}
          Instagram
