%footer.page-footer
  .footer-copyright
    .container
      = '©' + Time.current.year.to_s + ' ' +@homepage.text_1_1.from(0).to(-3)
      %span.sihibo2
        = @homepage.text_1_1.last(2)
      = ' Purwakarta Istimewa'
