        <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
              © <%= Time.current.year %> Sahate Kabupaten Purwakarta
              <div class="grey-text text-lighten-4 right footer-color">
                <a href=""><i class="fa fa-twitter"></i> Twitter</a>
                <a href=""><i class="fa fa-facebook"></i> Facebook</a>
                <a href=""><i class="fa fa-instagram" style="vertical-align: middle;"></i> Instagram</a>
              </div>
            </div>
          </div>
        </footer>
            