<li>
  <a href="/home/tentang">TENTANG</a>
</li>
<li>
  <a href="/home/daftar_hibah">PROPOSAL HIBAH</a>
</li>
<% if user_signed_in? %>
<li>
  <%= link_to 'DAFTAR HIBAH', new_hibah_url %>
</li>
<% end %>
<li>
  <a href="#">PERATURAN</a>
</li>
<li>
  <a href="#">LAPOR</a>
</li>
<li>
  <a href="#">LAPORAN</a>
</li>